
.container{
    width: 900px;
    margin: auto;
}

.row {
    padding: 0 5px;
    margin: auto 0;
    display: flex;
}

.col-1-100{
    width: 100%;
}

.col-1-50{
    width: 50%;
}
.col-1-25{
    width: 25%;
}
.col-1-10{
    width: 100%;
}