/* UTILS */
/*float*/
.f-right{ float: right; }
.f-left{ float: left; }


/*text*/
.t-center{text-align: center}

.hidden{ visibility: hidden}
.show{ visibility: visible}

/*table*/

.table-bordered td{ border: 1px solid #c0c0c0;}


/*icons*/
.fa-eraser, .fa-pencil {
    cursor: pointer;
}
.fa{
    padding: 4px 5px;
}



/*button*/
.sbm-button {
    padding: 5px;
    background-color: green;
    display: inline-block;
    border: 1px solid darkgreen;
    border-radius: 3px;
    margin: 7px 8px 4px 7px;
}

.sbm-button:hover {
    background-color: lightgreen;
    cursor: pointer;
}
.sbm-button:active{
    background-color: darkgreen;
}

.sbm-button i{
    padding: 0 5px 0 0px;
}

.head {
    background: #ebfdfd;
}