/* UTILS */
/*float*/
.f-right{ float: right; }
.f-left{ float: left; }


/*text*/
.t-center{text-align: center}

.hidden{ visibility: hidden}
.show{ visibility: visible}

/*table*/

.table-bordered td{ border: 1px solid #c0c0c0;}


/*icons*/
.fa-eraser, .fa-pencil {
    cursor: pointer;
}
